
h1 {
    color: #707070;
    font-size: 64px;
    font-family: roboto;
    // background-color: red;
}


.header {
    display: flex;
    background-color: #FFF7EF;
    width: 1533px;
    height: 217px;
    &__logo {
        width: 325px;
        height: 84px;
        margin: 67px 0px 0px 65px;
    }
}



.main {
    &__top {
        position: relative;
        img {
            vertical-align: top;
            width: 1533px;
            height: 530px;
        }
        span {
            position: absolute;
            top: 239px;
            left: 86px;
            color: #FFFFFF;
            font-size: 40px;
            font-family: bold;
        }
    }
    &__section1 {
        position: relative;
        // display: inline-block;
        &__img1 {
            display: inline-block;
            margin: 120px 0px 0px 111px;
            img {
                vertical-align: top;
                width: 625px;
                height: 1193px;
            }
            span {
                position: absolute;
                top: 140px;
                left: 130px;
                color: #FFFFFF;
                font-size: 80px;
                font-family: roboto;
                // border-bottom: 4px solid #FFFFFF;
            }
            hr {
                position: absolute;
                top: 280.5px;
                left: 137.5px;
                border-bottom: 4px solid #FFFFFF;
            }

        }
        &__img2 {
            display: inline-block;
            img {
                vertical-align: top;
                width: 625px;
                height: 1193px;
                margin-left: 80px;
            }
            span {
                position: absolute;
                top: 140px;
                left: 838px;
                color: #FFFFFF;
                font-size: 80px;
                font-family: roboto;
            }
            hr {
            position: absolute;
            top: 280.5px;
            left: 841.5px;
            border-bottom: 4px solid #FFFFFF;
            }
        }
    }
}

