$pc: 1024px; // PC
$tab: 768px; // iPad
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

// Foundation
@import "./foundation/reset";
@import "./foundation/base";


// layout
@import "./layout/l-header";
@import "./layout/l-sidebar";
@import "./layout/l-main";
@import "./layout/l-footer";

// Component
// @import "./object/component/*;"

// Project
@import "./object/project/p-header";
@import "./object/project/p-main";
// @import "./object/project/p-article";
@import "./object/project/p-footer";
@import "./object/project/p-sidebar";

// Utility

// @import "./object/utility/*";
