.p-article {
    display: flex;
    justify-content: space-around;
    padding: 6rem 0;
    height: 130rem;
    color: #FFF;
    font-family: Roboto;
    &__sec01 {
        background: url("../common/img/main02.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 39%;
        @import "../component/article01";
    }
    &__sec02 {
        background: url("../common/img/main03.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 39%;
        @import "../component/article01";
    }
    &__b {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: url("../common/img/main03.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 39%;
        }
    // &__list {
    //     display: block;
    //     margin: 0 1rem 1rem 1rem;
    //     background-color: #FFF;
    //     opacity: 0.8;
    //     font-weight: normal;
    // }
}

.p-section {
    display: flex;
    height: 40rem;
    &__list01 {
        display: flex;
        background: url("../common/img/map01.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        opacity: 0.8;
        &__a {
            width: 55%;
            background-color: #000;
            opacity: 0.7;
            color: #FFF;
            padding: 6rem;
            dt {
                padding: 1.2rem;
                font-size: 1.5rem;
            }
            dd {
                padding: 0 1.2rem 0 1.2rem;
                font-size: 1rem;
                font-size: 16px;
                line-height: 200%;
            }
            hr {
                height: 3px;
                background-color: #FFF;
                width: 10%;
                border: none;
                margin: 4rem 0;
            }        
        }
    }
}

