.p-footer {
    color: #FFFFFF;
    height: 5rem;
    padding: 3rem;
    &__info {
        text-align: center;
        font-family: 'mplus-1p-regular';
        font-size: 1.25rem;
        &__shop {
        }
        &__history {
        }
        &__copyright {
            margin-top: 39px;
            font-size: 0.85rem;
        }
    }
}