.p-header {
    display: flex;
    justify-content: space-between;
    &__logo {
        padding: 5rem;
        color: #707070;
        font-size: 4rem;
        font-family: 'mplus-1p-bold';
        font-weight: bold;
    }
    &__seach {
        padding: 5rem;
    }
}
