.p-header {
    display: flex;
    justify-content: space-between;
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem;
        height: 24rem;
        h1 {
            color: #707070;
            font-size: 6rem;
            font-family: 'mplus-1p-bold';
            font-weight: bold;
        }
    }
    &__seach {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5rem;
        @import "../component/serch";
    }
    &__menu {
        display: none;
        padding: 2rem 5rem;
        background-color: transparent;
        text-align: right;
        color: #707070;
        font-size: 3.5rem;
        font-family: 'mplus-1p-bold';
        font-weight: bold;
        height: 3rem;
    }
}
