.p-main {
    &__top {
        background: url("../common/img/main01.png") no-repeat center center;
        background-size: cover;
        width: 100%;
    }
    span {
        display: flex;
        flex-direction: column;
        justify-content: center;    
        padding-left: 10rem;
        color: #FFF;
        font-size: 4rem;
        font-family: bold;
        height: 53rem;
        }
}
.p-article {
    display: flex;
    justify-content: space-around;
    padding: 12rem 0;
    height: inherit;
    font-family: Roboto bold;
    &__subsec01 {
        background: url("../common/img/main02.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 40%;
        @import "../component/article01";
    }
    &__subsec02 {
        background: url("../common/img/main03.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 40%;
        @import "../component/article01";
    }
}

.p-section {
    display: flex;
    &__map {
        display: flex;
        background: url("../common/img/map01.png") no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        background-color: #000;
        opacity: 0.6;
        dl {
            width: 55%;
            background-color: #000;
            opacity: 0.8;
            padding: 6rem;
            @include tab {
                width: 100%;
            };
        }
        hr {
            border-bottom: 0.2rem solid #FFFFFF;
            width: 8rem;
            text-align: left;
            margin-left: 2rem;
        }
        dt {
            padding: 2rem 2rem 6rem 2rem;
            color: #FFF;
            font-size: 3.6rem;
            font-family: 'mplus-1p-bold';
        }
        dd {
            padding: 6rem 2rem 0 2rem;
            color: #FFF;
            font-size: 1.6rem;
            line-height: 3.5rem;
            font-family: 'mplus-1p-bold';
        }
    }
}