.p-sidebar {
    padding: 4.6rem;
    color: #707070;
    &__title {
        padding: 3rem 0;
        font-size: 3.4rem;
        font-weight: bold;
        font-family: Roboto bold;
    }
    &__menu {
        font-size: 2.4rem;
        padding: 4rem 0 3rem 0;
    }
    &__submenu {
        padding: 2rem;
        font-size: 2.0rem;
        line-height: 5rem;
    }
    a {
        color: #707070;
    }
    @include pc {
    };
    @include tab {
        padding-top: 5rem;
        &__close {
            text-align: right;
            position: fixed;
            .close__btn {
                position: fixed;
                top: 1rem;
                right: 1rem;
                width: 50px;
                height: 50px;
                background: url("../common/img/close.png") 8px no-repeat;
                span {
                    display: block;
                    width: 80%;
                    margin: auto;
                    left: 0;
                    right: 0;
                    background-color: #707070;
                    height: 4px;
                    border-radius: 3px;
                    .menu__lineTop {
                        transform: rotate(45deg);
                    }
                    .menu__lineMiddle {
                        opacity: 0;
                    }
                    .menu__lineBottom {
                        transform: rotate(-45deg);  
                    }
                    display: none; //調整中
                }
            }
        }
        &__title {
            display: none;
        }
    };
    @include sp {
    };
}