@media screen and (max-width: 768px) {
    html {
        font-size: 40%;
    }
    body {
        grid-template-rows: 10% 1fr;
        grid-template-columns: 1fr;
        position: relative;
        .content-wrapper {
            position: absolute;
            height: 105%;
            // width: 100%;
            top:0;
            left:0;
            background-color: #000000;
            opacity: 0.5;
            transform: translate(800px);
            z-index: 5;
            transition: all .5s;
        }
    }
    .p-header {
        flex-direction: column;
        justify-content: center;
        &__menu {
            display: block;
        }    
        &__logo {
            flex-direction: unset;
            height: 5rem;
            padding: 2rem 0;
        }
        &__seach {
            flex-direction: unset;
        }
    }
    .l-sidebar {
        position: fixed;
        right: 0;
        height: 100%;
        width: 36.5rem;
        z-index: 10;
        // transform: translate(800px);
        transition: all .5s;
    }
    .p-sidebar{
        padding-top: 5rem;
        &__title {
        display: none;
        }
    }
    .p-section {
        &__map {
            dl {
                width: 100%;
            }
        }
    }
}