/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: grid;
  grid-template-rows: 217px 1fr 150px;
  grid-template-columns: 1fr 20%;
}

.l-header {
  grid-row: 1/2;
  grid-column: 1/1;
  background-color: #FFF7EF;
}

.l-sidebar {
  grid-row: 1/5;
  grid-column: 2/2;
  background-color: #F2EDE9;
}

.l-main {
  grid-row: 2/3;
  grid-column: 1/1;
}

.l-footer {
  grid-row: 5/6;
  grid-column: 1/3;
  background-color: #9D8670;
}

.p-header {
  display: flex;
  justify-content: space-between;
}

.p-header__logo {
  width: 325px;
  height: 84px;
  margin-top: 4.5%;
  margin-left: 4.2%;
  color: #707070;
  font-size: 4rem;
  font-family: roboto;
}

.p-main__top {
  position: relative;
}

.p-main__top img {
  width: 100%;
  height: 100%;
}

.p-main__top span {
  position: absolute;
  top: 50%;
  left: 5%;
  color: #FFFFFF;
  font-size: 40px;
  font-family: bold;
}

.p-article {
  display: flex;
  justify-content: space-around;
}

.p-article__a {
  display: flex;
  justify-content: center;
  position: relative;
}

.p-article__a__img1 {
  display: inline-block;
}

.p-article__a__img1 img {
  vertical-align: top;
  width: 85%;
  margin: 4rem;
}

.p-article__a__img1 span {
  position: absolute;
  top: 5%;
  left: 10%;
  color: #FFFFFF;
  font-size: 5rem;
  font-family: roboto;
}

.p-article__a__img1 hr {
  position: absolute;
  width: 4rem;
  top: 12%;
  left: 10%;
  border-bottom: 0.3rem solid #FFFFFF;
}

.p-article__b {
  display: flex;
  justify-content: center;
  position: relative;
}

.p-article__b__img2 {
  display: inline-block;
}

.p-article__b__img2 img {
  vertical-align: top;
  width: 85%;
  margin: 4rem;
}

.p-article__b__img2 span {
  position: absolute;
  top: 5%;
  left: 8%;
  color: #FFFFFF;
  font-size: 5rem;
  font-family: roboto;
}

.p-article__b__img2 hr {
  position: absolute;
  width: 4rem;
  top: 12%;
  left: 10%;
  border-bottom: 0.3rem solid #FFFFFF;
}

.p-footer {
  text-align: center;
  color: #FFFFFF;
  display: flex;
  height: 150px;
}

.p-footer__link {
  text-decoration: none;
  color: #FFF;
  padding: 43px 5px 5px 5px;
  font-size: 1.25rem;
}

.p-footer__copyright {
  font-size: 0.85rem;
  font-family: 'mplus-1p-regular';
}
/*# sourceMappingURL=style.css.map */